/*your css code start from here*/

.pps{
  background-color: white;
  height:580px;
  width: 1490px;
  margin: 10px 5px;
  padding-top: 15px;
}
.pps::after {
  content: "";
  clear: both;
  display: table;
}


table,td,th{
  border: 2px solid MediumSeaGreen;
   margin: 10px 15px;
  font-size: 35px;
}
th{
  width:100px;
  border-bottom: 5px solid white;
  background-color: MediumSeaGreen;
  color: white;
  border-radius: 15px;
}
table{
  width:250px;
  border-radius: 35px;
  border: 6px solid MediumSeaGreen;
  padding: 8px 10px;
  float: left;
}
td{
    vertical-align: middle;
      border-radius: 15px;
}
td:hover {
  background-color: lightgray;
}

.buts{
  height:55px;
  border: none;
  margin:4px;
  align-self: center;
}
.tabu{
  width:900px;
}
.tabn{
   margin-top: 25px;
}

th:hover{
  background-color: white;
  color: MediumSeaGreen;
  border-color: MediumSeaGreen;
}
